.food-items {
  items-style: none;
  text-align: left;
  margin: 5px;
  padding: 0;
  border: 1px solid black;
}

.food-items li {
  padding: 5px;
  border-bottom: 1px solid black;
}

.food-items li:last-child {
  border-bottom: none;
}
