.collapsible-header {
  width: 100%;
  text-align: left;
  overflow: auto;
  white-space: nowrap;
}

.big-header {
  height: 2em;
  font-weight: bold;
}

.collapsible > .small-header {
  font-size: 80%;
  color: var(--main-color);
  padding-bottom: 0.5em;
}

.arrow {
  display: inline-block;
}

.collapsible-content {
  padding: 10px;
}
