.food-items {
  list-style: none;
  margin: 5px;
  padding: 0;
  border: 1px solid black;
}

.food-items li {
  border-bottom: 1px solid black;
}

.food-items li:last-child {
  border-bottom: none;
}
