.food-items {
  list-style: none;
  text-align: left;
  margin: 5px;
  padding: 0;
  border: 1px solid black;
}

.food-items li {
  border-bottom: 1px solid black;
}

.food-items li:last-child {
  border-bottom: none;
}

.food-content {
  font-size: 150%;
  text-align: center;
}

.food-content button {
  font-size: 100%;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}
