.search {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px;
}

.clear {
  position: absolute;
  right: 7px;
  cursor: pointer;
}

.search input {
  padding: 4px;
  font-size: 100%;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
}

.search input:focus {
  border-color: var(--main-color);
}
